<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}PolitLab{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" crossorigin="anonymous">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md fixed-top">
        {% block nav %}
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PolitLab</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Histórico dos Candidatos</a></li>
                <li><a href="{% url 'eleicoes_busca' %}">Resumo por Eleição</a></li>
                <li><a href="{% url 'dashboard' %}">Busca detalhada</a></li>
                <li><a href="http://www.farmi.pro.br/politlab">Sobre</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        {% endblock %}
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      {% block messages %}
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{% firstof message.tags 'info' %} {% if message.tags == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
              {% endfor %}
          {% endif %}
      {% endblock %}


      {% block main %}
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">{% now "Y" %}</span>
      </div>
    </footer>


    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
