{% load static humanize %}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Núm de Votos do Candidato</th>
            <th class="text-center">Núm de Votos do Partido</th>
            <th class="text-center">Média de Votos do Partido</th>
            <th class="text-center">Núm de votos da eleição para o cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.get_num_votos|intcomma }} ({{ object.percentual_num_votos_eleicao_para_cargo|floatformat|intcomma }}%)</td>
            <td>{{ object.num_votos_partido|intcomma }}</td>
            <td>{{ object.media_num_votos_partido|floatformat|intcomma }}</td>
            <td>{{ object.num_votos_eleicao_para_cargo|intcomma }}</td>
        </tr>
    </tbody>
</table>