{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}

<div class="js-inline-admin-formset inline-group">
    <div class="tabular inline-related last-related">
        <fieldset class="module">
            <h2>Candidaturas</h2>
            <table>
                <thead>
                    <tr>
                        <th class="required">Ano</th>
                        <th class="required">Nº de candidaturas</th>
                    </tr>
                </thead>

                <tbody>
                    {% for candidatura in candidaturas %}
                    <tr class="form-row {% cycle "row1" "row2" %}">
                        <td>{{ candidatura.ano }}</td>
                        <td>{{ candidatura.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
{% endblock %}